<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <a href="https://julia-barbelane.github.io/reflexions/">Voir tout</a>
        <a href="https://github.com/Julia-barbelane/reflexions/tree/master/chantiers">Contribuer</a>
        <a href="https://creativecommons.org/licenses/by-sa/2.0/fr/">CC-BY-SA</a>        
      </footer>
    </section>
  </body>
</html>
